body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#bigCircle {
    position: absolute;
    display: flex;
    width: 300px;
    height: 300px;
    background-color: red;
    border-radius: 100%;
    align-items: center;
    justify-content: center; 
}
#circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 100%;
}
ul#mocha-stats, ul#mocha-report {
    position: absolute;
    top: 500px;
}